Size <input type="number" value="12" id="sizeInput" /> Radius
<input type="number" value="350" id="radiusInput" /> Stroke size
<input type="number" value="0.5" id="strokeSizeInput" /> Sequncer
<input type="number" value="21" id="sequenceInput" />
<input
  type="submit"
  id="redrawId"
  value="redraw"
  onclick="redrawSvg(getParams())"
/>
<br />
<svg id="svgId" style="border: solid 1px black; width:800; height:800"></svg>

<script src="vector.js"></script>
<script src="draw.js"></script>
<script>
  //init
  redrawSvg(getParams());

  document
    .getElementById("sequenceInput")
    .addEventListener("change", function(event) {
      redrawSvg(getParams());
    });
</script>
